---
- hosts: webservers
  become: yes
  tasks:
  - name: i want to insatll webserver on ubuntu
    apt:
      name: "{{webserveronubuntu}}"
      state: present
    when: ansible_os_family =="Debian"

  - name: i want update ubuntu webserver
    apt:
      name: "{{webserveronubuntu}}"
      update_cache: yes
    when: ansible_os_family =="Debian"  

  - name: i want to install webserver on redhat nodes
    yum: 
      name: "{{webserveronRedHat}}" 
      state: present
    when: ansible_os_family =="RedHat"

  - name: start the service
    service:
       name: "{{webserveronRedHat}}"
       state: started
    when: ansible_os_family =="RedHat"

  -  name: i want to update redhat webserver
     yum:
       name: "{{webserveronRedHat}}"
       update_cache: yes
     when: ansible_os_family =="RedHat"  

  - name: i want to restart ubuntu webserver
    service:
     name: "{{webserveronubuntu}}"
     state: restarted
    when: ansible_os_family =="Debian"

  - name: i want to restart redhat wwebserver
    service:
      name: "{{webserveronRedHat}}"
      state: restarted
    when: ansible_os_family =="RedHat"  
    



