---
- hosts: all
  become: yes
  tasks:
  - name: i want to install webserver
    apt:
      name: apache2
      state: present
    when: ansible_os_family =="Debian"
  - name: i want to update
    apt:
      name: apache2
      status: update_cache
  - name: i want to restart the webserver
    service:
      name: apache2
      state: restarted
    when: ansible_os_family =="Debian"